body {
    background-image: url("https://cdn.dooca.store/624/posts/jci17nwuweeg7dvpluhy0ftq76wvki45ihnp.jpg");
    text-align: center;
    color: white;
}

html,
body {
    background-size: cover;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    display: flexbox;
}

li {
    display: inline-block;
    padding: 5%;
    font-size: 50%;
}
#menu :hover{
  color: yellow;
  background-color: black;
  opacity: 70%;
}
a {
    color: white;
}
